set $cmd_switch_multihead /bin/bash ~/auto-setup/sway/switch_multihead.sh

# Switch to workspace
bindsym $mod+1 exec $cmd_switch_multihead 1
bindsym $mod+2 exec $cmd_switch_multihead 2
bindsym $mod+3 exec $cmd_switch_multihead 3
bindsym $mod+4 exec $cmd_switch_multihead 4
bindsym $mod+5 exec $cmd_switch_multihead 5
bindsym $mod+6 exec $cmd_switch_multihead 6
bindsym $mod+7 exec $cmd_switch_multihead 7
bindsym $mod+8 exec $cmd_switch_multihead 8
bindsym $mod+9 exec $cmd_switch_multihead 9
bindsym $mod+0 exec $cmd_switch_multihead 10
# Move focused container to workspace
bindsym $mod+Shift+1 move container to workspace  1-1
bindsym $mod+Shift+2 move container to workspace  2-1
bindsym $mod+Shift+3 move container to workspace  3-1
bindsym $mod+Shift+4 move container to workspace  4-1
bindsym $mod+Shift+5 move container to workspace  5-1
bindsym $mod+Shift+6 move container to workspace  6-1
bindsym $mod+Shift+7 move container to workspace  7-1
bindsym $mod+Shift+8 move container to workspace  8-1
bindsym $mod+Shift+9 move container to workspace  9-1
bindsym $mod+Shift+0 move container to workspace 10-1

bindsym $mod+ctrl+1 move container to workspace  1-2
bindsym $mod+ctrl+2 move container to workspace  2-2
bindsym $mod+ctrl+3 move container to workspace  3-2
bindsym $mod+ctrl+4 move container to workspace  4-2
bindsym $mod+ctrl+5 move container to workspace  5-2
bindsym $mod+ctrl+6 move container to workspace  6-2
bindsym $mod+ctrl+7 move container to workspace  7-2
bindsym $mod+ctrl+8 move container to workspace  8-2
bindsym $mod+ctrl+9 move container to workspace  9-2
bindsym $mod+ctrl+0 move container to workspace 10-2


#TODO for dual monitors only
workspace 1-1 output $o-left
workspace 2-1 output $o-left
workspace 3-1 output $o-left
workspace 4-1 output $o-left
workspace 5-1 output $o-left
workspace 6-1 output $o-left
workspace 7-1 output $o-left
workspace 8-1 output $o-left
workspace 9-1 output $o-left
workspace 10-1 output $o-left

workspace 1-2 output $o-right
workspace 2-2 output $o-right
workspace 3-2 output $o-right
workspace 4-2 output $o-right
workspace 5-2 output $o-right
workspace 6-2 output $o-right
workspace 7-2 output $o-right
workspace 8-2 output $o-right
workspace 9-2 output $o-right
workspace 10-2 output $o-right
