# COMS
set $ws_com   
set $ws_com_1 -1
set $ws_com_2 -2
# set $ws_com   c
# set $ws_com_1 c-1
# set $ws_com_2 c-2

bindsym $mod+$key_comms exec $cmd_switch_multihead $ws_com
bindsym $mod+Shift+$key_comms move container to workspace $ws_com_1
bindsym $mod+ctrl+$key_comms move container to workspace $ws_com_2

workspace $ws_com_1 output $o-left
workspace $ws_com_2 output $o-right

for_window [class="Thunderbird" instance="Mail"] move container to workspace $ws_com_1, floating disable
for_window [class="Thunderbird" instance="Calendar"] floating enable, resize set 640 480
assign [class="Mattermost"] $ws_com_2
