;/etc/systemd/system/vncserver@.service
;run
;sudo systemctl daemon-reload
;sudo systemctl enable --now vncserver@1.service

[Unit]
Description=Remote desktop service (TigerVNC)
After=syslog.target network.target

[Service]
Type=simple
User=fsc
PAMName=login
PIDFile=/home/%u/.vnc/%H%i.pid
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :%i > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver :%i -geometry 1440x900 -alwaysshared -fg
ExecStop=/usr/bin/vncserver -kill :%i

[Install]
WantedBy=multi-user.target
